@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #F7F4EE;
    color: #20201D;
    font-family: 'Inter', sans-serif;
  }
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #F7F4EE;
}
::-webkit-scrollbar-thumb {
  background: #D4CEBE;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #78805E;
}
